src/wsdl/127.0.0.1_8080/carabiserver/GuestService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="GuestService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://127.0.0.1:8080/carabiserver/GuestService?xsd=1"/>
</xsd:schema>
</types>
<message name="wellcomeNN">
<part name="parameters" element="tns:wellcomeNN"/>
</message>
<message name="wellcomeNNResponse">
<part name="parameters" element="tns:wellcomeNNResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="registerUserLight">
<part name="parameters" element="tns:registerUserLight"/>
</message>
<message name="registerUserLightResponse">
<part name="parameters" element="tns:registerUserLightResponse"/>
</message>
<message name="RegisterException">
<part name="fault" element="tns:RegisterException"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="getWebUserInfo">
<part name="parameters" element="tns:getWebUserInfo"/>
</message>
<message name="getWebUserInfoResponse">
<part name="parameters" element="tns:getWebUserInfoResponse"/>
</message>
<message name="getOracleUserID">
<part name="parameters" element="tns:getOracleUserID"/>
</message>
<message name="getOracleUserIDResponse">
<part name="parameters" element="tns:getOracleUserIDResponse"/>
</message>
<message name="unauthorize">
<part name="parameters" element="tns:unauthorize"/>
</message>
<message name="unauthorizeResponse">
<part name="parameters" element="tns:unauthorizeResponse"/>
</message>
<portType name="GuestService">
<operation name="wellcomeNN">
<input wsam:Action="http://soap.server.carabi.ru/GuestService/wellcomeNNRequest" message="tns:wellcomeNN"/>
<output wsam:Action="http://soap.server.carabi.ru/GuestService/wellcomeNNResponse" message="tns:wellcomeNNResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://soap.server.carabi.ru/GuestService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://soap.server.carabi.ru/GuestService/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="registerUserLight">
<input wsam:Action="http://soap.server.carabi.ru/GuestService/registerUserLightRequest" message="tns:registerUserLight"/>
<output wsam:Action="http://soap.server.carabi.ru/GuestService/registerUserLightResponse" message="tns:registerUserLightResponse"/>
<fault message="tns:RegisterException" name="RegisterException" wsam:Action="http://soap.server.carabi.ru/GuestService/registerUserLight/Fault/RegisterException"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/GuestService/registerUserLight/Fault/CarabiException"/>
</operation>
<operation name="getWebUserInfo">
<input wsam:Action="http://soap.server.carabi.ru/GuestService/getWebUserInfoRequest" message="tns:getWebUserInfo"/>
<output wsam:Action="http://soap.server.carabi.ru/GuestService/getWebUserInfoResponse" message="tns:getWebUserInfoResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/GuestService/getWebUserInfo/Fault/CarabiException"/>
</operation>
<operation name="getOracleUserID">
<input wsam:Action="http://soap.server.carabi.ru/GuestService/getOracleUserIDRequest" message="tns:getOracleUserID"/>
<output wsam:Action="http://soap.server.carabi.ru/GuestService/getOracleUserIDResponse" message="tns:getOracleUserIDResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/GuestService/getOracleUserID/Fault/CarabiException"/>
</operation>
<operation name="unauthorize">
<input wsam:Action="http://soap.server.carabi.ru/GuestService/unauthorizeRequest" message="tns:unauthorize"/>
<output wsam:Action="http://soap.server.carabi.ru/GuestService/unauthorizeResponse" message="tns:unauthorizeResponse"/>
</operation>
</portType>
<binding name="GuestServicePortBinding" type="tns:GuestService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="wellcomeNN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUserLight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RegisterException">
<soap:fault name="RegisterException" use="literal"/>
</fault>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getWebUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getOracleUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="unauthorize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GuestService">
<port name="GuestServicePort" binding="tns:GuestServicePortBinding">
<soap:address location="http://127.0.0.1:8080/carabiserver/GuestService"/>
</port>
</service>
</definitions>